{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "> 2%",
          "last 2 versions"
        ]
      },
      "modules": false,
      "loose": true
    }],
    "react"
  ],
  "plugins": ["react-hot-loader/babel"]
}
